.detail-credits {
    background-color: white;
    padding-top: 200px;
    padding-bottom: 200px;

    @media screen and (max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    ul {
        list-style-type: none;

        li {
            &:not(:last-child) {
                margin-bottom: 50px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 30px;
                }
            }

            span,
            strong {
                display: block;
            }

            span {
                font-size: 10px;
                font-weight: 300;
                letter-spacing: 6px;
                margin-bottom: 20px;
            }

            strong {
                font-size: 30px;
                font-weight: 800;

                @media screen and (max-width: 767px) {
                    font-size: 22px;
                }
            }
        }
    }
}
