.detail-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;

    &.show {
        figure {
            width: 100%;
        }

        article {
            top: 0;
            opacity: 1;
        }
    }

    figure {
        position: absolute;
        right: 0;
        top: 0;
        width: 62%;
        height: 100%;
        opacity: 0.3;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        transition-duration: 1s;
        transition-property: width;
    }

    article {
        position: relative;
        z-index: 2;
        color: white;
        text-align: center;
        top: -30px;
        opacity: 0;
        transition-duration: 1s;
        transition-property: top, opacity;

        strong {
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 6px;
        }

        h2 {
            margin-top: 20px;
            font-size: 60px;
            font-weight: 800;

            @media screen and (max-width: 767px) {
                font-size: 30px;
            }
        }
    }

    small {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.2);

        @media screen and (max-width: 767px) {
            bottom: 100px;
            height: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: white;

            animation-name: SMALL_ANIMATION;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        }
    }
}

@keyframes SMALL_ANIMATION {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    50% {
        transform-origin: top;
        transform: scaleY(1);
    }
    51% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}
