.pagination {
    display: flex;
    margin-top: 60px;

    li {
        list-style-type: none;
        width: 10px;
        height: 10px;
        opacity: 0.4;
        background-color: white;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.active {
            opacity: 1;
        }
    }
}
