.portfolio-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;

    &-item {
        width: 100%;
        height: 100%;
    }

    .slick-dots {
        position: absolute;
        left: 38%;
        margin-left: -400px;
        bottom: 50%;
        margin-bottom: -218px;
        width: auto;

        @media screen and (max-width: 1300px) {
            left: 50px;
            margin-left: 0;
        }

        @media screen and (max-width: 767px) {
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 0px;
            bottom: 100px;
        }

        li {
            width: 10px;
            height: 10px;
            margin: 0;

            &:not(:last-child) {
                margin-right: 10px;
            }

            button {
                width: 10px;
                height: 10px;
                padding: 0;

                &:before {
                    content: "";
                    background-color: white;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-slide {
        width: 100%;
        height: 100%;
    }

    .slick-slide > div {
        width: 100%;
        height: 100%;
    }

    article {
        color: white;
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -35px;
        left: 38%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 800px;

        @media screen and (max-width: 1300px) {
            left: 50px;
            transform: translateY(-50%);
        }

        @media screen and (max-width: 767px) {
            position: absolute;
            left: 0;
            max-width: 100%;
            transform: translateX(0%) translateY(-50%);
            padding: 0px 30px;
            text-align: center;
        }

        a {
            @media screen and (max-width: 767px) {
                margin: auto;
            }
        }

        p {
            min-height: 90px;

            @media screen and (max-width: 1300px) {
                min-height: 150px;
            }

            @media screen and (max-width: 767px) {
                min-height: auto;
            }
        }
    }

    figure {
        width: 62%;
        height: 100%;
        float: right;
        filter: grayscale(100%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.3;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}
