.social-links {
    a {
        pointer-events: auto;
        font-size: 16px;
        transition-duration: .5s;
        transition-property: color;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

footer.black {
    .social-links {
        a {
            color: black;
        }
    }
}