$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;

$icon-chevron-left: "\e906";
$icon-logo: "\e900";
$icon-behance: "\e901";
$icon-codepen: "\e902";
$icon-dribbble: "\e903";
$icon-envelope: "\e904";
$icon-github: "\e905";

$black: #090909;